@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

#container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 115vh;
  font-size: 20px;
  font-weight: bold;
}

article {
  flex-grow: 8;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 15px;
}

header {
  flex-grow: 1;
  background-color: #111023;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

#center-container {
  display: flex;
  flex-grow: 9;
}

footer {
  flex-grow: 1;
  background-color: #111023;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

aside {
  background-color: #320388;
  flex-grow: 1;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

nav {
  background-color: #c22177;
  flex-grow: 1;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

#container-for-tablet-size {
  display: flex;
  flex-grow: 9;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #center-container {
    flex-direction: column;
  }

  #container-for-tablet-size {
    display: flex;
    flex-grow: 8;
  }

  header {
    flex-grow: 2;
  }

  nav {
    flex-grow: 1;
  }

  article {
    flex-grow: 4;
  }
}

@media screen and (max-width: 767px) {
  #center-container {
    flex-direction: column;
  }

  header {
    flex-grow: 2;
  }

  #container-for-tablet-size {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
  }
}
