@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

#container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
}

header {
  flex-grow: 1;
  background-color: #111023;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

article {
  flex-grow: 4;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 15px;
}

footer {
  flex-grow: 1;
  background-color: #111023;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

#center-container {
  display: flex;
  flex-direction: column;
  flex-grow: 9;
}

aside {
  background-color: #320388;
  flex-grow: 1;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

nav {
  background-color: #c22177;
  flex-grow: 1;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

#main {
  display: flex;
  flex-grow: 5;
}

#container-for-two {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}
